.DS_Store
.classpath
.project
.settings/
target/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/appengine-generated/
src/main/webapp/WEB-INF/classes/
frontend/.idea/
src/main/webapp/app/
src/main/resources/client_secrets.json
src/main/webapp/WEB-INF/appengine-web.xml
