<h2>UserId</h2>
<p>
    Using currently this userId: <input type="text" readonly disabled value="{{conf.userId}}"/>
</p>
<p ng-if="currentUserId && currentUserId === conf.userId" class="alert alert-success">
    This is the your current userId. Everything is fine .
</p>
<p ng-if="currentUserId && currentUserId !== conf.userId" class="alert alert-warning">
    This is NOT your current userId! YOUR id is {{currentUserId}}
</p>

<h2>Email on errors</h2>
<p>The server can you notify if any error (e.g. failed parsing or failed calendar add) occur. You just have to enter a valid email address.</p>
<form class="form-horizontal" role="form" ng-submit="updateContactEmail()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Sender address:</label>
        <div class="col-sm-3">
            <p class="form-control-static">{{conf.senderEmail}} </p>
        </div>
        <div class="col-sm-7">
            <p class="form-control-static" ng-if="!emptyStr(conf.senderEmail)">(This should be your Google account address.)</p>
            <div class="alert alert-warning" ng-if="emptyStr(conf.senderEmail)">This should NOT be empty! Mail sending will not work. Try to go through the login again
                <a href="/login">with this link</a>.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="mail">Contact address:</label>
        <div class="col-sm-3">
            <input type="email" class="form-control" id="mail" placeholder="Enter contact email"
                   ng-model="ui.contactEmail" ng-disabled="ui.waitingEmail" />
        </div>
        <div class="col-sm-7">
            <p class="form-control-static" ng-if="emptyStr(conf.contactEmail)">(Feature is disabled.)</p>
            <p class="form-control-static" ng-if="!emptyStr(conf.senderEmail) && !emptyStr(conf.contactEmail)">
                <button class="btn btn-link" ng-click="sendTestMail()" ng-disabled="ui.waitingEmail">send test mail</button>
                <span class=""> {{ui.mailTestResult}}</span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col sm-3">
            <button type="button" class="btn btn-danger" ng-click="disableContactEmail()" ng-disabled="ui.waitingEmail">Disable Feature</button>
            <button type="submit" class="btn btn-primary" ng-disabled="ui.waitingEmail">Update email</button>
        </div>
    </div>
</form>

<h2>Calender</h2>
You can select calender to write all events into.
<div class="alert alert-warning ng-cloak" ng-if="!conf.calendarId">
    <strong>Warning!</strong>
    No calendar id is configured! Please select a calendar as backend.
</div>

<button class="btn btn-default" ng-click="listCalendars()" ng-disabled="ui.calendarListLoading">
    List available calendars<span ng-show="ui.calendarListLoading"> ...</span>
</button>

<div class="config__calendarList" ng-if="ui.calendarList.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>summary</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cal in ui.calendarList" ng-class="{warning: cal.id === conf.calendarId}">
            <td>{{cal.id}}</td>
            <td>{{cal.summary}}</td>
            <td>
                <button ng-if="cal.id !== conf.calendarId" class="btn btn-default" ng-click="useCalendar(cal.id)">Use this</button>
                <span ng-if="cal.id === conf.calendarId">ausgewählt</span>
            </td>
        </tr>
        </tbody>

    </table>

</div>




