<h2>Debug</h2>
<p>
    Some things for debugging this app.
</p>

<h3>Logs</h3>
<p>
    You'll find the logs in the Google App Engine UI: <a
        href="https://appengine.google.com/logs?&app_id=dulcet-glazing-363">https://appengine.google.com/logs?&app_id=dulcet-glazing-363</a>
</p>

<h3>Calendar</h3>

<h4>Target</h4>
<p>You can list all events of the calendar used as target. Currently this is <code>{{calendarId}}</code>, you can change this
    <a ng-href="#/config">in the Configuration</a>.

<h4>List events</h4>
<p>Show all events for the following time range: </p>
<form class="form" role="form" novalidate>
    <div class="row">
        <div class="col-xs-2">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="begin.time" is-open="begin.open" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openCalendar(begin, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-xs-2">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="end.time" is-open="end.open" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openCalendar(end, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="listEvents()" ng-disabled="eventListLoading">List events</button>
    </div>

</form>

<table class="table table-hover">
    <thead>
    <tr>
        <th>summary</th>
        <th>start</th>
        <th>end</th>
        <th>recurrence</th>
        <th>location</th>
        <th>description (preview)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in eventList" ng-click="edit(ical.id)">
        <td>{{event.summary}}</td>
        <td>{{event.start.dateTime.value | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        <td>{{event.end.dateTime.value | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        <td title="{{event.recurrence}}">{{event.recurrence ? 'yes' : 'no'}}</td>
        <td>{{event.location}}</td>
        <td class="my-slide-container">
            <pre class="fade-animation" ng-if="!event.showFull" ng-click="event.showFull = true" title="Click to get full description">{{event.descriptionPreview}}</pre>
            <pre class="fade-animation" ng-if="event.showFull" ng-click="event.showFull = false">{{event.description}}</pre>
        </td>
    </tr>
    </tbody>
</table>


</p>
