<div class="rawMail">
    <h2>Raw Mails</h2>

    <p>
        You see all raw mails in the table below. Click to edit.
    </p>

    <waiting-progress msg="Loading raw mails..." show="{{loading}}"></waiting-progress>

    <table class="table table-hover fade-animation" ng-if="!loading">
        <thead>
        <tr>
            <th>id</th>
            <th>content (preview)</th>
            <th>recieved</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mail in rawMails" ng-click="edit(mail.id)">
            <td>{{mail.id}}</td>
            <td>{{mail.rawMail}}</td>
            <td>{{mail.recieved | date:'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>{{mail.status}}</td>
        </tr>
        </tbody>
    </table>
    </p>
    <p ng-if="!loading && rawMails.length === 0" class="alert alert-info fade-animation">
        No raw mails found.
    </p>
</div>