<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="frontendApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to
    improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->


<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right" nav-menu="active">
            <li><a ng-href="#/">Home</a></li>
            <li><a ng-href="#/rawMailIn">Raw Mails</a></li>
            <li><a ng-href="#/ical">Ical Infos</a></li>
            <li><a ng-href="#/config">Configuration</a></li>
            <li><a ng-href="#/debug">Debug</a></li>
        </ul>
        <h1 class="text-muted">gaeCG - frontend</h1>
    </div>

    <div class="alert alert-danger ng-cloak" ng-show="globalErrorMsg.length > 0">
        <button type="button" class="close" aria-hidden="true" ng-click="">&times;</button>
        <div ng-repeat="msg in globalErrorMsg track by $index">
            <strong>Error!</strong>
            <span ng-bind-html="msg"></span>
        </div>
    </div>

    <div class="content waiting">
        <div ng-view="" class="content__ng-view"></div>
    </div>

    <div class="footer">
        <p class="pull-right">gaeCalendarGateway - <show-version /></p>
    </div>
</div>

<script type="text/javascript">
    function findEndpoint() {
        var endpoint = '//' + location.host + '/rest/';
        endpoint = '//localhost:8888/rest/'; /* replace for debugging, $REMOVE_LINE$*/
        return endpoint;
    }
    var CONFIG = {
        endpointUrl: findEndpoint()
    };
</script>


<!-- build:js scripts/modules.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>

<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/ConfigCtrl.js"></script>
<script src="scripts/controllers/NavCtrl.js"></script>
<script src="scripts/controllers/GlobalError.js"></script>
<script src="scripts/controllers/RawMailInCtrl.js"></script>
<script src="scripts/controllers/RawMailInDetailCtrl.js"></script>
<script src="scripts/controllers/IcalInfoCtrl.js"></script>
<script src="scripts/controllers/IcalInfoDetailCtrl.js"></script>
<script src="scripts/controllers/DebugCtrl.js"></script>

<script src="scripts/common/Utils.js"></script>

<script src="scripts/services/BaseService.js"></script>
<script src="scripts/services/ConfigService.js"></script>
<script src="scripts/services/User.js"></script>
<script src="scripts/services/Config.js"></script>
<script src="scripts/services/AppInfo.js"></script>
<script src="scripts/services/RawMailInService.js"></script>
<script src="scripts/services/IcalInfoService.js"></script>
<script src="scripts/services/DebugService.js"></script>

<script src="scripts/directives/formEntry.js"></script>
<script src="scripts/directives/waitingProgress.js"></script>
<script src="scripts/directives/navMenu.js"></script>
<script src="scripts/directives/showVersion.js"></script>
<!-- endbuild -->
</body>
</html>
