<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!--  rest api -->
    <context-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/rest</param-value>
    </context-param>
    <context-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>de.smilix.gaeCalenderGateway.web.rest.RestApplication</param-value>
    </context-param>
        <servlet>
                <servlet-name>Resteasy</servlet-name>
                <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>Resteasy</servlet-name>
                <url-pattern>/rest/*</url-pattern>
        </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/rest/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>  
  
  <!--  oAuth -->
  <servlet>
    <servlet-name>oauth2Callback</servlet-name>
    <servlet-class>de.smilix.gaeCalenderGateway.web.OAuth2Callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2Callback</servlet-name>
    <url-pattern>/oauth2callback/*</url-pattern>
  </servlet-mapping>
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/oauth2callback/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>
            de.smilix.gaeCalenderGateway.web.LoginServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
        <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/login</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- recieve emails -->
  <servlet>
    <servlet-name>mailhandler</servlet-name>
    <servlet-class>de.smilix.gaeCalenderGateway.web.MailHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailhandler</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>mailhandler</servlet-name>
    <url-pattern>/debug/mail/*</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>mail</web-resource-name>
      <url-pattern>/_ah/mail/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <!-- recieve emails -->
  
  <!-- the task    -->
                  <servlet>
        <servlet-name>processMailWorker</servlet-name>
        <servlet-class>
            de.smilix.gaeCalenderGateway.web.ProcessMailWorker
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>processMailWorker</servlet-name>
        <url-pattern>/tasks/processMailWorker</url-pattern>
    </servlet-mapping>
  
  <!-- secure the task queue -->
  <security-constraint>
    <web-resource-collection>
        <web-resource-name>tasks</web-resource-name>
        <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
</security-constraint>
  

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
</web-app>